@page "/"


@using SistemaGS.WebAssembly.Extensiones;
@using Microsoft.AspNetCore.Components.Authorization;
@inject IUsuarioService _usuarioService;
@inject NavigationManager navManager;
@inject IToastService _toastService;
@inject AuthenticationStateProvider authenticationStateProvider;

@attribute [Authorize(Roles = "Administrador")]

<PageTitle>Sistema GS</PageTitle>

<BlazoredToasts />

    <h3>Inicio</h3>

@code {

}
