@inject IAyudaService ayudaService;
@inject IToastService toastService;
@inject NavigationManager navigationManager;
@inject SweetAlertService Swat;

@attribute [Authorize(Roles = "Solicitante")]

<PageTitle>Historial</PageTitle>

<h3>Historial</h3>

<FiltroAyuda filtro="filtro" retorno="EventCallback.Factory.Create(this, ListarAyuda)" 
    Solicitante="false"
    Estado="false"/>

<div class="card">
    <div class="card-body">
        <TableLayout lista="lista" T="AyudaDTO" Retorno="@(EventCallback.Factory.Create<AyudaDTO>(this, CargarAyuda))" />
    </div>
</div>

@code {
    [Parameter]
    public int ID { get; set; }

    AyudaQuery filtro = new AyudaQuery();
    List<AyudaDTO> lista = new List<AyudaDTO>();

    protected override async Task OnParametersSetAsync()
    {
        filtro = new AyudaQuery()
        {
            solicitante = ID
        };

        await ListarAyuda();
    }
    private async Task ListarAyuda()
    {
        var response = await ayudaService.Listar(filtro);
        if (response.EsCorrecto && response.Resultado != null) lista = response.Resultado.Where(la => (la.Estado == "Cerrada" || la.Estado == "Rechazada")).ToList();
    }
    private void CargarAyuda(AyudaDTO ayuda)
    {
        navigationManager.NavigateTo($"/Ayuda/{ayuda.IdAyuda}");
    }
}