@inject IAyudaService ayudaService;
@inject IToastService toastService;
@inject NavigationManager navigationManager;
@inject SweetAlertService Swat;

@attribute [Authorize(Roles = "Solicitante")]

<PageTitle>Historial</PageTitle>

<h3>Historial</h3>

<FiltroAyuda filtro="filtro" retorno="EventCallback.Factory.Create(this, ListarAyuda)" 
    Solicitante="false"
    Estado="false"/>

<div class="card">
    <div class="card-body">
        <TableLayout listaOrigen="lista" T="AyudaDTO" Retorno="@(EventCallback.Factory.Create<AyudaDTO>(this, CargarAyuda))" />
    </div>
</div>

@code {
    [Parameter]
    public int ID { get; set; }

    [Inject]
    private LoadingService loadingService { get; set; } = default!;

    AyudaQuery filtro = new AyudaQuery();
    List<AyudaDTO> lista = new List<AyudaDTO>();

    protected override async Task OnParametersSetAsync()
    {
        filtro = new AyudaQuery()
        {
            solicitante = ID,
            Estado = "Cerrada,Rechazada"
        };

        await ListarAyuda();
    }
    private async Task ListarAyuda()
    {
        if (loadingService.IsLoading) return;
        loadingService.Show();
        var response = await ayudaService.Listar(filtro);
        if (response.EsCorrecto && response.Resultado != null) lista = response.Resultado;
        loadingService.Hide();
    }
    private void CargarAyuda(AyudaDTO ayuda)
    {
        navigationManager.NavigateTo($"/Ayuda/{ayuda.IdAyuda}");
    }
}