@inject NavigationManager navigationManager;
@inject IAyudaService ayudaService;
@inject IToastService toastService;
@inject SweetAlertService Swat;
@inject IJSRuntime JS;

<h3 class="m-3">Histórico</h3>

<FiltroAyuda filtro="filtro" Funcionario="false" Estado="false" retorno="@(EventCallback.Factory.Create<AyudaQuery>(this, ListarAyuda))" />
<TableLayout listaOrigen="lista" Retorno="@(EventCallback.Factory.Create<AyudaDTO>(this, RecibirSeleccion))"/>

<button type="button" class="btn btn-primary" @onclick="ImprimirReporte">
    <i class="bi bi-printer fs-5"></i> Imprimir listado
</button>

@code {
    [Parameter]
    public int ID { get; set; }

    [Inject]
    private LoadingService loadingService { get; set; } = default!;

    List<AyudaDTO> lista = new List<AyudaDTO>();
    AyudaDTO seleccion = new AyudaDTO();
    AyudaQuery filtro = new AyudaQuery();

    protected override async Task OnInitializedAsync()
    {
        filtro = new AyudaQuery
            {
                funcionario = ID,
                Estado = "Cerrada,Rechazada"
            };
        await ListarAyuda();
    }
    private async Task ListarAyuda()
    {
        if (loadingService.IsLoading) return;
        loadingService.Show();
        var response = await ayudaService.Listar(filtro);
        if (response.EsCorrecto && response.Resultado != null) lista = response.Resultado;
        loadingService.Hide();
    }
    private void RecibirSeleccion(AyudaDTO ayuda)
    {
        navigationManager.NavigateTo($"/Ayuda/{ayuda.IdAyuda}");
    }
    private async Task ImprimirReporte()
    {
        if (loadingService.IsLoading) return;
        loadingService.Show();
        var response = await ayudaService.ImprimirReporte(filtro);
        loadingService.Hide();
        if (response.EsCorrecto && response.Resultado != null)
        {
            string data = Convert.ToBase64String(response.Resultado);
            await JS.InvokeVoidAsync("downloadFileFromBytes", $"Reporte Ayudas fecha {DateTime.Today.ToString("dd-MM-yyyy")}.pdf", data);
        }
        else toastService.ShowError($"Error: {response.Mensaje}");
    }
}
