@inject IAyudaService ayudaService;
@inject IToastService toastService;
@inject NavigationManager navigationManager;
@inject SweetAlertService Swat;

@attribute [Authorize(Roles = "Administrador")]

<PageTitle>Aprobar Ayudas</PageTitle>

<h3 class="m-3">Aprobar Ayudas</h3>

<FiltroAyuda filtro="filtro" Estado="false" retorno="EventCallback.Factory.Create(this, ListarAyuda)" />
<TableLayout listaOrigen="lista" Retorno="@(EventCallback.Factory.Create<AyudaDTO>(this, CargarAyuda))"/>

@code{
    [Inject]
    private LoadingService loadingService { get; set; } = default!;

    AyudaQuery filtro = new AyudaQuery();
    List<AyudaDTO> lista = new List<AyudaDTO>();

    protected override async Task OnInitializedAsync()
    {
        filtro = new AyudaQuery()
        {
            Estado = "Por Aprobar,En Proceso"
        };
        await ListarAyuda();
    }
    private async Task ListarAyuda()
    {
        if (loadingService.IsLoading) return;
        loadingService.Show();
        var response = await ayudaService.Listar(filtro);
        if (response.EsCorrecto && response.Resultado != null) lista = response.Resultado;
        loadingService.Hide();
    }
    private void CargarAyuda(AyudaDTO ayuda)
    {
        navigationManager.NavigateTo($"/Aprobar/{ayuda.IdAyuda}");
    }
}
