<div class="card mt-2 mb-2">
    <div class="card-body">
        <EditForm Model="filtro" OnValidSubmit="@(async () => await retorno.InvokeAsync(filtro))">
            <div class="row-cols-12 gap-3 mt-1">
                @if (Solicitante)
                {
                    <div class="form-row mt-1">
                        <div class="input-group col-6 mt-1">
                            <label class="input-group-text bg-light">Solicitante</label>
                            <InputNumber min="0" class="form-control" placeholder="Ingrese cédula del solicitante a buscar" @bind-value="filtro.solicitante" />
                        </div>
                        <div class="input-group col-6 mt-1">
                            <label class="input-group-text bg-light">Busqueda Alt.</label>
                            <InputText class="form-control" placeholder="Ingrese nombres del solicitante a buscar" @bind-value="filtro.DataSoli" />
                        </div>
                    </div>
                }
                @if (Funcionario)
                {
                    <div class="form-row mt-1">
                        <div class="input-group col-6 mt-1">
                            <label class="input-group-text bg-light">Funcionario</label>
                            <InputNumber min="0" class="form-control" placeholder="Ingrese cédula del funcionario a buscar" @bind-value="filtro.funcionario" />
                        </div>
                        <div class="input-group col-6 mt-1">
                            <label class="input-group-text bg-light">Busqueda Alt.</label>
                            <InputText class="form-control" placeholder="Ingrese nombres del funcionario a buscar" @bind-value="filtro.DataFunci" />
                        </div>
                    </div>
                }
                <div class="form-row mt-1">
                    <div class="input-group col-6">
                        <label class="input-group-text bg-light">Categoría</label>
                        <InputSelect class="form-select" @bind-value="filtro.categoria">
                            <option value="" selected>--Cualquiera</option>
                            <option value="Medicamentos">Medicamentos</option>
                            <option value="Insumos quirúrgicos">Insumos quirúrgicos</option>
                            <option value="Citas para exámenes de laboratorio">Citas para exámenes de laboratorio</option>
                            <option value="Citas para exámenes de diagnóstico">Citas para exámenes de diagnóstico</option>
                            <option value="Equipos de movilidad asistida">Equipos de movilidad asistida</option>
                            <option value="Prótesis">Prótesis</option>
                            <option value="Apoyo financiero para cirugías">Apoyo financiero para cirugías</option>
                            <option value="Utiles escolares">Utiles escolares</option>
                            <option value="Alimentos">Alimentos</option>
                            <option value="Financiamiento deportivo">Financiamiento deportivo</option>
                            <option value="Ayudas funerarias">Ayudas funerarias</option>
                            <option value="Otros">Otros</option>
                        </InputSelect>
                    </div>
                    @if (Estado)
                    {
                        <div class="input-group col-6">
                            <label class="input-group-text bg-light">Estado</label>
                            <InputSelect class="form-select" @bind-value="filtro.Estado">
                                <option value="" selected>--Cualquiera</option>
                                <option value="Por Aprobar">Por Aprobar</option>
                                <option value="En Proceso">En Proceso</option>
                                <option value="Lista Para Entregar">Lista Para Entregar</option>
                                <option value="Cerrada">Cerrada</option>
                                <option value="Rechazada">Rechazada</option>
                            </InputSelect>
                        </div>
                    }
                </div>
                <div class="form-row mt-1">
                    <div class="input-group col-6 mt-1">
                        <label class="input-group-text bg-light">Fecha inicial</label>
                        <InputDate class="form-control" @bind-value="filtro.FechaIni" />
                    </div>
                    <ValidationMessage For="@(() => filtro.FechaIni)" />
                    <div class="input-group col-6 mt-1">
                        <label class="input-group-text bg-light">Fecha final</label>
                        <InputDate class="form-control" @bind-value="filtro.FechaFin" />
                    </div>
                    <ValidationMessage For="@(() => filtro.FechaIni)" />
                </div>
                <div class="form-row mt-2">
                    <button class="btn btn-outline-secondary col-12" style="width:130px" type="submit">
                        <i class="oi oi-magnifying-glass"></i> Aplicar filtros
                    </button>
                </div>
            </div>
        </EditForm>
    </div>
</div>

@code {
    [Parameter] public AyudaQuery filtro { get; set; } = new AyudaQuery();
    [Parameter] public EventCallback<AyudaQuery> retorno { get; set; }

    [Parameter] public bool Solicitante {get; set;} = true;
    [Parameter] public bool Funcionario {get; set;} = true;
    [Parameter] public bool Estado {get; set;} = true;
}