@inject IInventarioService inventarioService;
@inject IToastService toastService;
@inject IJSRuntime JS;

<div class="card-header">
    <h4 class="text-center text-black">
        Inventario
    </h4>
</div>

<div class="card-body">
    <FiltroItem filtro="filtro" Estado="Estado" retorno="EventCallback.Factory.Create<ItemQuery>(this, ListarInventario)" />
    <TableLayout lista="inventario" T="ItemDTO" Retorno="@(async (ItemDTO i) => {await retorno.InvokeAsync(i); toastService.ShowSuccess("Información cargada");})"/>
    @* <InventarioAjax T="ItemDTO" Retorno="@(async (ItemDTO i) => await retorno.InvokeAsync(i))"/> *@
</div>

@code{
    [Parameter] public bool Estado { get; set; } = true;
    [Parameter] public EventCallback<ItemDTO> retorno { get; set; }
    private ItemQuery filtro { get; set; } = new ItemQuery();
    private List<ItemDTO> inventario = new List<ItemDTO>();

    protected override async Task OnInitializedAsync()
    {
        await ListarInventario();
    }

    private async Task ListarInventario()
    {
        var respuesta = await inventarioService.ListarInventario(filtro);
        if (respuesta.EsCorrecto && respuesta.Resultado != null) inventario = respuesta.Resultado;
    }
}