@inject IInventarioService inventarioService;
@inject IToastService toastService;

<div class="card-body">
    <FiltroItem filtro="filtro" Estado="Estado" retorno="EventCallback.Factory.Create<ItemQuery>(this, ListarInventario)" />
    <TableLayout listaOrigen="inventario" MostrarOpcionales="MostrarOpcionales" T="ItemDTO" Retorno="@(async (ItemDTO i) => { toastService.ShowSuccess("Información cargada"); await retorno.InvokeAsync(i); })" />
    @* <InventarioAjax T="ItemDTO" Retorno="@(async (ItemDTO i) => await retorno.InvokeAsync(i))"/> *@
</div>

@code{
    [Parameter] public bool MostrarOpcionales { get; set; } = true;
    [Parameter] public bool Estado { get; set; } = true;
    [Parameter] public EventCallback<ItemDTO> retorno { get; set; }

    [Inject]
    private LoadingService loadingService { get; set; } = default!;

    private ItemQuery filtro { get; set; } = new ItemQuery() { Activo = true };
    private List<ItemDTO> inventario = new List<ItemDTO>();

    protected override async Task OnInitializedAsync()
    {
        await ListarInventario();
    }
    protected override async Task OnParametersSetAsync()
    {
        await ListarInventario();
    }

    private async Task ListarInventario()
    {
        if (loadingService.IsLoading) return;
        loadingService.Show();
        var respuesta = await inventarioService.ListarInventario(filtro);
        if (respuesta.EsCorrecto && respuesta.Resultado != null) inventario = respuesta.Resultado;
        loadingService.Hide();
    }
}