@using Microsoft.AspNetCore.Components.Authorization;
@inject NavigationManager navManager;

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    @{
                        if (context.User.Identity?.IsAuthenticated != true) navManager.NavigateTo("/login");
                        else
                        {
                            <h1 class="alert alert-danger m-5">No esta autorizado para ver esta página</h1>
                        }
                    }
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <PageTitle>No econtrado</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <h1 class="alert alert-warning m-5" role="alert">ERROR 404: No existe esta página.</h1>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
