@inject SweetAlertService Swat;
@inject NavigationManager navManager;
@using SistemaGS.WebAssembly.Extensiones;
@using Microsoft.AspNetCore.Components.Authorization;
@using System.Security.Claims;
@inject AuthenticationStateProvider authenticationStateProvider;

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" runat="server" href="#"></a>
        
        <div class="d-sm-inline-flex justify-content-end">

            <AuthorizeView>
                <Authorized>
                    <div class="p-3">
                        <strong>Usuario loggeado: </strong>@context.User.Claims.Where(u => u.Type == ClaimTypes.Name).Select(c => c.Value).SingleOrDefault()
                    </div>
                    <button class="btn btn-outline-dark ms-auto ms-md-0 me-3" type="button" @onclick="CerrarSesion">Salir</button>
                </Authorized>
            </AuthorizeView>

        </div>
    </div>
</nav>

@code{
    public void Dispose()
    {
        
    }

    private async Task CerrarSesion()
    {
        SweetAlertResult result = await Swat.FireAsync(new SweetAlertOptions
        {
            Title = "Aviso",
            Text = $"¿Seguro de cerrar la sesión activa?",
            Icon = SweetAlertIcon.Info,
            ShowCancelButton = true,
            ConfirmButtonText = "Si",
            CancelButtonText = "No"
        });
        if (result.IsConfirmed)
        {
            var AuthExt = (AutExt)authenticationStateProvider;
            await AuthExt.ActualizarEstadoAut(null);
            navManager.NavigateTo("/login", true);
        }
    }
}