@inject SweetAlertService Swat;
@inject NavigationManager navigationManager;

@inject AuthenticationStateProvider authenticationState;

@attribute [Authorize];

<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container d-sm-inline-flex justify-content-end gap-3">
            <AuthorizeView>
                <Authorized>
                    <div class="gap-3">
                    <strong>Usuario loggeado: </strong>@context.User.Claims.SingleOrDefault(c => c.Type == ClaimTypes.Name)!.Value
                    </div>
                    <button class="btn btn-outline-dark ms-auto ms-md-0 me-3" type="button" @onclick="CerrarSesion">Salir</button>
                </Authorized>
            </AuthorizeView>
    </div>
</nav>

@code{
    private void MostrarNotificaciones()
    {
        
    }
    private async Task CerrarSesion()
    {
        SweetAlertResult result = await Swat.FireAsync(new SweetAlertOptions
        {
            Title = "Aviso",
            Text = $"¿Seguro de cerrar la sesión activa?",
            Icon = SweetAlertIcon.Info,
            ShowCancelButton = true,
            ConfirmButtonText = "Si",
            CancelButtonText = "No"
        });
        if (result.IsConfirmed)
        {
            var AuthExt = (AutExt) authenticationState;
            await AuthExt.ActualizarEstadoAut(null);
            navigationManager.NavigateTo("/login", true);
        }
    }
}