@inherits LayoutComponentBase

@inject SweetAlertService Swat;
@inject NavigationManager navManager;
@inject AuthenticationStateProvider authenticationStateProvider;

<BlazoredToasts/>

<div class="page">
    <div class="sidebar" style="z-index: 3">
        <NavMenu />
    </div>
    <main>
        <header style="z-index: 2; background-image: linear-gradient(to top, rgb(3, 37, 75), rgb(10, 77, 130));" class="sticky-top shadow-sm">
            <HorizontalNav />
        </header>
        <article class="content px-4" style="z-index: 1">
            @Body
        </article>
    </main>
</div>