@inherits LayoutComponentBase

@inject IAyudaService ayudaService;

@inject SweetAlertService Swat;
@inject NavigationManager navManager;
@using SistemaGS.WebAssembly.Extensiones;
@using Microsoft.AspNetCore.Components.Authorization;
@using System.Security.Claims;
@inject AuthenticationStateProvider authenticationStateProvider;

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    <main>
        <header class="sticky-top bg-white shadow-sm">
            <HorizontalNav />
        </header>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code{
    
}